.chat_container{
    bottom: 0;
    position: fixed;
    right: 0;
    z-index: 10000;
}
.chat_container .chat_box{
	float: right;
	width: 250px;
	height: 350px;
    background: #f1f1f1;
    margin-right: 30px;
    position: relative;
}
.chat_container .chat_box .chat_header{
    background: #272634 none repeat scroll 0 0;
    color: #fff;
    padding: 5px 10px;
}
.chat_container .chat_box .chat_header b{vertical-align: top;}
.chat_container .chat_box .chat_header a{
    cursor: pointer;
    float: right;
    padding: 0 5px;
    vertical-align: top;
}
.chat_container .chat_box .chat_conversation_box {
     background: #f6f6f6 none repeat scroll 0 0;
    height: 250px;
    margin: 10px 7px;
    overflow: auto;
    padding-left: 5px;
}
.chat_container .chat_box .chat_input{
    bottom: 0;
    padding: 5px;
    position: absolute;
    width: 100%;
}
.chat_container .chat_box .chat_input input{
    background: #fff none repeat scroll 0 0;
    border: 1px none;
    box-shadow: 1px -1px 1px 0 #ccc inset;
    padding: 10px 10px;
    width: 100%;
}
.chat_container .chat_box .chat_conversation_box .own_msg,.chat_container .chat_box .chat_conversation_box .opponent_msg{margin-top: 15px;}
.chat_container .chat_box .chat_conversation_box .own_msg div div{    background: #fff;
    display: inline-block;
    margin: 0 10px;padding: 0 5px;
    width: 75%;}
.chat_container .chat_box .chat_conversation_box .own_msg div img{border-radius: 50%;
    float: right;
    margin-right: 10px;}
.chat_container .chat_box .chat_conversation_box .opponent_msg div div{    background: #fff;
    display: inline-block;
    margin: 0 10px;padding: 0 5px;
    width: 75%;
float: right;}
.chat_container .chat_box .chat_conversation_box .opponent_msg div img{border-radius: 50%;margin-left: 10px;float: left;}
.chat_container .chat_box .chat_conversation_box .opponent_msg+.opponent_msg{margin:0;}
.chat_container .chat_box .chat_conversation_box .own_msg+.own_msg{margin:0;}
.chat_container .chat_box .chat_conversation_box .opponent_msg+.opponent_msg img{visibility: hidden;}
.chat_container .chat_box .chat_conversation_box .own_msg+.own_msg img{visibility: hidden;}
.video_chat_container{background:#2A2C2E;transition:all 0.5s ease 0s;left: 0;margin: auto;max-width: none;position: fixed;right: 0;top: 0;width: 100%;height:100%;
    transform:scale(0);-webkit-transform:scale(0);-moz-transform:scale(0)-o-transform:scale(0);}
.video_chat_container.start_video_chat{transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1)-o-transform:scale(1);z-index: 1001;top:0 !important;left:0 !important;}
.video_chat_container .OT_publisher{width: 250px !important; height: 160px !important;top: 30px !important; right: 30px;}
.subscriber_layout {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    display: block;
    height: 80%;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
    width: 60%;
}
.video_chat_container .subscriber_layout .loading_image{
    height: auto !important;
    left: 0 !important;
    position: absolute;
    top: 0 !important;
    width: 100px !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
}
.video_chat_container .OT_subscriber{width: 100% !important; height: 100% !important;}
.video_chat_container .video_call_action{
    position: absolute;
    text-align: center;
    top: 103%;
    width: 100%;
}
.video_chat_container .subscriber_layout ot-whiteboard{background:#fff; position: absolute;width: 100%;height: 100%;top: 0;left: 0;}
.sticky_notes {position: fixed;z-index: 10000;}
.sticky_notes .notes_list{position: fixed;background: #FDFCC2;box-shadow: 0 2px 5px 0 #000;}
.sticky_notes .notes_header{background: #F8F7B6;position: relative;font-size: 16px;font-weight: bold;height: 30px;}
.sticky_notes .notes_header input {text-align:center; background: none;border: none;width: 80%;margin: 0 auto;line-height: 30px;display: block;}
.sticky_notes .notes_content{background: #FDFCC2;border:none;margin: 5px;font-size: 14px;}
.sticky_notes .notes_header .icon-plus{position: absolute;left: 5px;top: 5px;}
.sticky_notes .notes_header .icon-trash{position: absolute;right: 5px;top: 5px;}
.mail_pagination li{list-style: none;}
.table-hover tr.unread_mail td {
    background: #fffdf4 none repeat scroll 0 0;
    color: #000;
}
.mail_list_table tr td .important_mail_info{color: #ccc;}
.mail_list_table tr td .important_mail_info.important_mail{color: #000;}
.modal-content{ background: #f1f1f1; overflow: auto; max-height: 500px; }
.modal{overflow: hidden !important; overflow-y:hidden !important; }
.group_chat_input{width: 100%;left: 0;bottom: 0;position: absolute;}
.group_chat_input textarea{width: 100%;}
.chat_box_group_chat{height: 80%;overflow: auto;}
.modal-content{ background: #f1f1f1; }
.content-box-wrapper{ overflow-y: auto;overflow-x: hidden; height: 300px; }
.modal{overflow-x:hidden;
    overflow-y: hidden;}
/*#header-nav-left{width: 350px !important;margin-top: 15px;margin-right: 20px;text-align: right;}
#header-nav-left a{display: inline-block !important;}*/
#header-nav-left{margin-right: 20px;}
#sidebar-menu li .sidebar-submenu{width: 220px !important;}
.Company_designation_page .content-box-wrapper,.Company_leavetypes_page .content-box-wrapper,
.Company_expensetypes_page .content-box-wrapper,.Company_expensetypes_page .content-box-wrapper{
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}
.btn-primary0{
    position: absolute;
    right: 20px;
    top: -53px; background: #ffffff none repeat scroll 0 0;
    color: #e91e63;}
.bsdatepicker td span:hover, .bsdatepicker td.active, .bsdatepicker td.day.active:hover, .bsdatepicker th.next:hover, .bsdatepicker th.prev:hover, .btn-primary.active, .btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .btn-primary[disabled], .btn-primary.active[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, .daterangepicker .calendar th.next:hover, .daterangepicker .calendar th.prev:hover, .daterangepicker td.active, .daterangepicker td.available.active:hover, .hover-primary:hover, .label-primary[href]:focus, .label-primary[href]:hover, .open .dropdown-toggle.btn-primary, .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover, .ui-accordion-header.ui-accordion-header-active.ui-state-hover, .ui-datepicker .ui-datepicker-next.ui-state-hover, .ui-datepicker .ui-datepicker-prev.ui-state-hover, .ui-datepicker td a:hover, .ui-dialog-buttonset button:hover, .ui-rangeSlider-bar:active, .ui-rangeSlider-bar:hover,
 .ui-slider-handle.ui-state-active, .ui-slider-handle.ui-state-hover{background: #ffffff none repeat scroll 0 0;
    color: #e91e63;}
    .btn-primary1{
    position: absolute;
    right: 20px;
    bottom:110px; background:#e91e63 none repeat scroll 0 0;
    color: #ffffff;}
     .btn-primary2{
    position: absolute;
    right: 150px;
    bottom:110px; background:#e91e63 none repeat scroll 0 0;
    color: #ffffff;}
    .btn-primary3 {
    background: #ffffff none repeat scroll 0 0;
    color: #e91e63;
    position: absolute;
    right: -5px;
    top: -8px;
    border: 1px solid #e91e63;
}
   .panel .panel .panel-body .title-hero{ margin:0; padding: 0; }
   .profile-box { margin-top:20px; }
   .panel .panel .panel-body{ padding: 0 20px; }
em,.parsley-errors-list li{color: #f44336;}